.active-tab,
.active-tab:hover {
  background: #2170e8;
  color: white !important;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-shrink: 1;
  justify-content: start;
  padding: 1.5rem;
  font-weight: 600 !important;
}

.text-blue-550 {
  color: blue;
  font-weight: bold;
}

.bg-accent {
  background: #2170e8;
}

@media (max-width: 768px) {
  .active-tab,
  .active-tab:hover {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .active-tab,
  .active-tab:hover {
    padding-left: 3rem;
    padding-right: 3rem;
    min-width: 20rem;
    flex-grow: revert;
  }
}
@media (min-width: 768px) {
  .hamberg,
  .hamberg:hover {
    visibility: hidden;
  }
}
