#e_cat {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.08em;
  color: #fff;
  border: 1px solid #6a96ec;
  background: url(../../../assets/ArrowDown2.svg) 92% center no-repeat !important;
  /* background-position: 97% 50%; */
}

#e_cat option {
  color: #000;
}

#e_cat:active,
#e_cat:focus {
  outline: none;
}
