.Paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  background-color: #ffffff;
  color: #1e2532;
  padding: 2px;
}

.Content {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;

  letter-spacing: 0.62px;
}

.About {
  font-weight: bold;
}

.Heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 131%;
  /* or 131% */

  letter-spacing: 0.0038em;
}
