.home_sidenav_cont {
  width: 100%;
  display: flex;
  position: relative;
}

.home_sidenav_cont .sidenav_layout {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding: 5rem;
}

@media only screen and (max-width: 640px) {
  .home_sidenav_cont .sidenav_layout {
    display: none;
  }
}
